[mysqld]
server_id=1{{ ansible_play_hosts.index(inventory_hostname) }}

# Required by dba.checkInstanceConfiguration()
binlog_transaction_dependency_tracking=WRITESET
replica_parallel_type=LOGICAL_CLOCK
replica_preserve_commit_order=ON
gtid_mode=ON
enforce_gtid_consistency=ON

# Defaults
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid