server {
  listen 443 ssl http2;

  server_name kibana.otus.internal;

  ssl_certificate /etc/pki/otus/kibana.crt;
  ssl_certificate_key /etc/pki/otus/kibana.pem;
  ssl_protocols TLSv1.2 TLSv1.3;

  # Resolve backend servers in consul
  resolver 127.0.0.1:8600 valid=3;
  set $backend_kibana http://kibana.service.dc1.lan:5601;

  location / {
    proxy_pass $backend_kibana;
    proxy_redirect off;
    proxy_buffering off;
    proxy_connect_timeout 2;
  }
}
