maxClientCnxns=50
tickTime=2000
initLimit=10
syncLimit=5
dataDir={{ zookeeper_data_dir }}
clientPort={{ zookeeper_port_client }}
4lw.commands.whitelist=*


{% for host in play_hosts %}
server.{{ play_hosts.index(hostvars[host]['inventory_hostname']) }}={{ hostvars[host]['inventory_hostname'] }}:2888:3888
{% endfor %}
